.feed-card{
    overflow:auto;
}
.imagem-feed{
    width: 70px;
}

.nome-piu{
    color: #006494
}

.user-piu{
    color: #58626C
}
.action-image{
    width: 20px;
    color:#FF9E2C;
}
.container-destacado{
    background-color: #FFFFE0;
}